.app{
  min-height: 100vh;
  background:#a4a1a1;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:30px;
  padding:40px;
}


.app {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 20px;
}